# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Miloslav Voloskov blog
email: "hello@miloslav.website"
description: ""
baseurl: "/blog" # The subpath of your site, e.g. /blog
url: "https://miloslav.website/" # The base hostname & protocol for your site
twitter: "mvoloskov"
github: "mvoloskov"
# instagram: ""
# facebook: ""

markdown: kramdown
permalink: pretty
paginate: 10

sass:
  style: compressed

plugins:
  - jekyll-paginate
  - jekyll/tagging

include:
  - _pages

exclude:
  - vendor
  - Gemfile
  - Gemfile.lock
  - admin

# Tags
tag_page_dir: tag
tag_page_layout: tag_page
tag_permalink_style: pretty

# Pages path
defaults:
  - scope:
      path: "_pages"
    values:
      permalink: /:basename:output_ext
