<section class="disqus">
	<div class="likely">
		<div class="facebook">Share</div>
		<div class="twitter">Tweet</div>
		<div class="vkontakte">Share</div>
		<div class="telegram">Send</div>
		<div class="linkedin">Share</div>
		<div class="reddit">Share</div>
	</div>
	<a href="https://www.buymeacoffee.com/mvoloskov" target="_blank" class="bmc">
		<img width="200" alt="Buy me a coffee" src="/blog/images/bmc.png" />
	</a>
	<script
		src="https://utteranc.es/client.js"
		repo="mvoloskov/blog"
		issue-term="pathname"
		theme="github-light"
		crossorigin="anonymous"
		async
	></script>
</section>
