// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #00a0ff;
$color-white: #ffffff;
$color-text: #323232;
$color-gray: #2b5f72;

// Background Colors
$bg-color-white: $color-white;
$bg-color-dark: #222228;
$bg-color-gray: #fafafa;

// Border
$color-border: #e9eff3;

// Links
$color-link: $color-text;
$color-link-hover: $color-brand;
