/*------------------------------------*\
  Components > Content
\*------------------------------------*/

.c-content {
	ul {
		list-style-position: outside;
	}

	ul li + li {
		margin-top: 0.5rem;
	}

	a:not(.c-btn) {
		text-decoration: underline;
		text-decoration-skip: ink;

		@include attention() {
			color: $color-brand;
		}
	}
}
