<!DOCTYPE html>
<html lang="en">
	{% include head.html %}

	<body>
		{% include header.html %} {{ content }} {% include footer.html %}

		<!-- <script src="{{ '/js/jquery-3.1.1.min.js' | prepend: site.baseurl }}"></script> -->
		<!-- <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}"></script> -->
		<!-- <script src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}"></script> -->
		<script src="https://unpkg.com/ilyabirman-likely@2/release/likely.min.js"></script>
		<script src="{{ '/js/app.js' | prepend: site.baseurl }}"></script>
	</body>
</html>
